$typo-black: #2E2E2E;
$typo-dark-grey: #6C6C6C;
$typo-light-grey: #b4b4b4;
$typo-pink: #2E4272;
$typo-white: #FFFFFF;

$document-black: #2E2E2E;
$document-white: #FFFFFF;
$document-dark-grey: #6C6C6C;
$document-light-grey: #F7F7F7;
$document-pink: #7887AB;
$document-orange: #F1AD3D;
$document-light-blue: #6EB2FB;
$document-light-yellow: #EFFC90;
$document-lawn-green: #00D3CA;

$font-Mon: 'Montserrat', sans-serif;
$font-Play: 'Playfair Display', serif;

$modal-i-h: 60px;
$modal-btn-w: 200px;

$break-xtra-large: 1200px;
$break-large: 900px;
$break-medium: 700px;
$break-small: 500px;
$break-mini: 320px;